#product_list{
  margin-top:1px;
  .productlist-title{
    height: 38px;
    background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ebebeb));
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ccc;
    line-height: 38px;
    padding-left: 8px;
    font-size: 14px;
    a{
      color: #000;
    }
    .select{
      float: right;
      margin-right: 8px;
      display: block;
      height: 28px;
      background: -webkit-gradient(linear,0 0,0 100%,from(#d7d7d7),to(#f5f5f5));
      box-shadow: 0 1px 2px #888;
      border-radius: 5px;
      text-align: center;
      font-size: 14px;
      line-height: 28px;
      padding: 0 16px;
      margin-top: 4px;
    }
  }
  .product-list{
    background-color: #fff;
    li{
      border-bottom: 1px solid #e7e7e7;
      padding: 10px;
      a{
        color: #000;
        display: block;
        .pic{
          width: 110px;
          float: left;
          img{
            width: 100px;
            height: 100px;
          }
        }
        .info{
          font-size: 14px;
          line-height: 24px;
          padding-left: 90px;
          .tit{
            color: #333;
            line-height: 22px;
            min-height: 44px;
          }
          .price{
            height: 25px;
            margin-top: 4px;
            span{
              font-size: 18px;
              color: #ea3900;
              float: left;
              vertical-align: middle;
            }
          }
          .other{
            color: #a1a1a1;
            font-size: 12px;
            em{
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
.page{
  margin-top: 10px;
  .w33{
    width: 33.33%;
    float: left;
    text-align: center;
    a{
      box-sizing: border-box;
      background: -webkit-gradient(linear,0 0,0 100%,from(#f1f1f1),to(#d4d4d4));
      border: 1px solid #bababa;
      box-shadow: 0 0 1px #666;
      border-radius: 5px;
      font-size: 14px;
      line-height: 32px;
      padding: 8px 20px;
    }
    #selectPage{
      border: 1px solid #bababa;
      font-size: 16px;
      padding: 8px 15px;
      height: 36px;
    }
  }
}