@charset "UTF-8";
/*设置默认编码集*/

/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*宋体 unicode */
    color: #666;
    background: #fff;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*京东色*/
.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}
/*顶部工具栏start*/
.shortcut{
    background: #F1F1F1;
    line-height: 30px;
}
.shortcut .dropdown{
    position: relative;
    padding-right: 25px;
}
.shortcut i{
    font: 400 15px/15px consolas;
    color: #6A6A6A;
    width: 15px;
    height: 7px;
    overflow: hidden;
    position: absolute;
    top:12px;
    right: 8px;
}
.shortcut s {
    position: absolute;
    top: -7px;
    left: 0;
}
.shortcut li{
    float: left;
    padding: 0 5px;
}
.shortcut .fr{
    background-color: #F1F1F1;
}
.col-red{
    color: red;
}
.shortcut .tel-li {
    position: relative;
}
.shortcut .tel-li a{
    padding-left: 15px;
}
.shortcut em{
    display: inline-block;
    height: 20px;
    width: 15px;
    background: url(../image/jd2015img.png);
    position: absolute;
    top: 5px;
    left: 0;
}
/*顶部工具栏end*/
/*顶部广告栏start*/
.topbanner{
    background: #FCD6E3;
}
.topbanner .w{
    position: relative;
}
.close-banner{
    width: 19px;
    height: 19px;
    background: url(../image/close-banner.png) 0 0 no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
}
.close-banner:hover{
    background: url(../image/close-banner.png) 0 -19px no-repeat;
}
/*顶部广告栏end*/
/*头部start*/
.logo{
    width: 362px;
    height: 100px;
    /*background: red;*/
    padding: 20px 0;
}
.logo a{
    width: 270px;
    height: 60px;
    display: block;
    background: url("../image/logo-201305.png") 0 0 no-repeat;
    text-indent: -20000px;
}
.search{
    /*width: 538px;*/
    /*height: 36px;*/
    /*background: blue;*/
    margin-top: 25px;
}
.search input{
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    float: left;
    font: 400 14px/32px "微软雅黑";
    color: #666;
    padding-left: 4px;
}
.search button{
    float: left;
    width: 80px;
    height: 36px;
    background-color: #B61D1D;
    color: #FFFFFF;
    font: 400 16px/36px "Microsoft yahei";
    cursor: pointer;
}
.car{
    width: 96px;
    height: 34px;
    background: #F9F9F9;
    border: 1px solid #DFDFDF;
    margin: 25px 65px 0 0;
    line-height: 34px;
    padding-left: 43px;
    position: relative;
}
.car .icon1{
    width: 15px;
    height: 13px;
    background: url(../image/jd2015img.png) -1px -59px no-repeat;
    position: absolute;
    top: 10px;
    left: 19px;
}
.car .icon2{
    font: 400 13px/13px "微软雅黑";
    color: #999999;
    position: absolute;
    top: 11px;
    right: 10px;
}
.car .icon3{
    min-width: 16px;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
    background: #c81623;
    position: absolute;
    top: -4px;
    left: 108px;
    border-radius: 7px 7px 7px 0;
}
.hotwords{
    /*width: 500px;*/
    /*height: 30px;*/
    /*background: green;*/
}
.hotwords ul li{
    float: left;
    margin-right: 10px;
    font: 400 12px/30px "微软雅黑";
}
/*头部end*/
/*导航start*/
.nav{
    /*height: 44px;*/
    /*background-color: pink;*/
    border-bottom: 2px solid #B1191A;
}
.classify{
    height: 44px;
    width: 210px;
    position: relative;
    z-index: 3;
    /*background-color: #B1191A;*/
}
.classify dl dt a{
    display: block;
    font: 400 14px/44px "微软雅黑";
    color: #FFFFFF;
    padding-left: 10px;
    background-color: #B1191A;
    margin-bottom: 2px;
}
.classify dl dd{
    border-left: 1px solid #B1191A;
}
.classify dl dd a{
    display: block;
    line-height: 31px;
    padding-left: 10px;
    background-color: #B61D1D;
    color: #FFFFFF;
    position: relative;
}
.classify dl dd a:hover{
    background-color: #fff;
    color: #C81623;
}
.classify dl dd a i{
    font: 400 9px/14px "consolas";
    position: absolute;
    top: 10px;
    right: 12px;
}
.navitem{
    height: 44px;
    /*width: 700px;*/
    /*background-color: blue;*/
}
.navitem ul li{
    float: left;
}
.navitem ul li a{
    font: 400 16px/44px "Microsoft yahei";
    padding: 0 20px;
    display: block;
}
.main-ad{
    /*width: 200px;*/
    height: 44px;
    /*background-color:yellow;*/
}
.main-ad a{
    position: relative;
    top: -10px;
    left: -50px;
}
/*导航end*/
/*底部start*/
.slogn{
    height: 94px;
    background-color: #F5F5F5;
    position: relative;
}
.slogn span{
    position: absolute;
    top: 20px;
    left: 50%;
}
.slogn1{
    margin-left: -604px;
}
.slogn2{
    margin-left: -304px;
}
.slogn4{
    margin-left: 304px;
}
.info{
    height: 186px;
    /*background-color: salmon;*/
    padding-top: 16px;
}
.info dl{
    width: 199px;
    float: left;
    /*background-color: blue;*/
}
.info dt{
    font: 400 16px/35px "微软雅黑";
}
.info dd{
    line-height: 20px;
}
.info .last{
    width: 100px;
}
.coverage{
    width: 185px;
    height: 169px;
    background: url(../image/china.png) 0 -131px no-repeat;
    padding-left: 20px;
}
.bottom{
    /*height: 162px;*/
    border-top: 1px solid #E5E5E5;
    /*background-color: red;*/
    padding-top: 24px;
    padding-bottom: 10px;
}
.links a{
    padding: 0 5px;
}
.copyright{
    margin: 10px 0;
}
.authentication a{
    padding-right: 13px;
}
/*底部end*/